In [41]:
import numpy as np
import pandas as pd

In [42]:
df=pd.read_csv('car data.csv')
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [43]:
df['Car_Name'].value_counts()

Car_Name
city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: count, Length: 98, dtype: int64

# Onehotencoding

In [44]:
pd.get_dummies(df,columns=['Fuel_Type'])

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Seller_Type,Transmission,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol
0,ritz,2014,3.35,5.59,27000,Dealer,Manual,0,False,False,True
1,sx4,2013,4.75,9.54,43000,Dealer,Manual,0,False,True,False
2,ciaz,2017,7.25,9.85,6900,Dealer,Manual,0,False,False,True
3,wagon r,2011,2.85,4.15,5200,Dealer,Manual,0,False,False,True
4,swift,2014,4.60,6.87,42450,Dealer,Manual,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Dealer,Manual,0,False,True,False
297,brio,2015,4.00,5.90,60000,Dealer,Manual,0,False,False,True
298,city,2009,3.35,11.00,87934,Dealer,Manual,0,False,False,True
299,city,2017,11.50,12.50,9000,Dealer,Manual,0,False,True,False
300,brio,2016,5.30,5.90,5464,Dealer,Manual,0,False,False,True

# To use n-1 column we use drop_first=true

# Practical way for encoding using sklearn

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:7],df.iloc[:,-1],test_size=0.2,random_state=2)

In [50]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first')
X_train_new=ohe.fit_transform(X_train[['Fuel_Type']]).toarray()
X_test_new=ohe.fit(X_train[['Fuel_Type']])
X_train_new

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [49]:
np.hstack((X_train[['Car_Name','Kms_Driven']].values,X_train_new))

array([['verna', 15141, 0.0, 1.0],
       ['Hyosung GT250R', 16500, 0.0, 1.0],
       ['alto 800', 2135, 0.0, 1.0],
       ['Bajaj Pulsar NS 200', 13000, 0.0, 1.0],
       ['corolla', 135154, 0.0, 1.0],
       ['alto k10', 45280, 0.0, 1.0],
       ['Royal Enfield Classic 350', 17000, 0.0, 1.0],
       ['Honda CBR 150', 32000, 0.0, 1.0],
       ['Bajaj Avenger 150', 7000, 0.0, 1.0],
       ['Yamaha FZ S V 2.0', 23000, 0.0, 1.0],
       ['amaze', 33019, 0.0, 1.0],
       ['grand i10', 21125, 1.0, 0.0],
       ['Yamaha FZ S V 2.0', 58000, 0.0, 1.0],
       ['innova', 90000, 0.0, 1.0],
       ['swift', 42450, 1.0, 0.0],
       ['Honda Activa 4G', 4300, 0.0, 1.0],
       ['Royal Enfield Classic 350', 4100, 0.0, 1.0],
       ['jazz', 15059, 0.0, 1.0],
       ['verna', 36000, 0.0, 1.0],
       ['brio', 31427, 0.0, 1.0],
       ['innova', 197176, 1.0, 0.0],
       ['wagon r', 56879, 0.0, 1.0],
       ['brio', 14465, 0.0, 1.0],
       ['Mahindra Mojo XT300', 35000, 0.0, 1.0],
       ['Bajaj Pulsar NS 200', 45000, 0.0, 1.0],
       ['alto k10', 25000, 0.0, 1.0],
       ['alto k10', 44542, 0.0, 1.0],
       ['verna', 36100, 0.0, 1.0],
       ['Royal Enfield Classic 350', 26000, 0.0, 1.0],
       ['corolla altis', 45000, 1.0, 0.0],
       ['city', 40126, 0.0, 1.0],
       ['verna', 36198, 0.0, 1.0],
       ['Royal Enfield Classic 350', 11000, 0.0, 1.0],
       ['fortuner', 6000, 1.0, 0.0],
       ['dzire', 77427, 0.0, 1.0],
       ['jazz', 28569, 0.0, 1.0],
       ['jazz', 61203, 0.0, 1.0],
       ['wagon r', 35500, 0.0, 0.0],
       ['camry', 142000, 0.0, 1.0],
       ['city', 9000, 1.0, 0.0],
       ['TVS Apache RTR 160', 11800, 0.0, 1.0],
       ['swift', 20000, 0.0, 1.0],
       ['Hero Splender Plus', 50000, 0.0, 1.0],
       ['Bajaj Dominar 400', 1200, 0.0, 1.0],
       ['creta', 35934, 1.0, 0.0],
       ['i10', 53460, 0.0, 1.0],
       ['Hero  Ignitor Disc', 24000, 0.0, 1.0],
       ['i20', 32000, 0.0, 1.0],
       ['corolla altis', 12000, 0.0, 1.0],
       ['Yamaha FZ S ', 5500, 0.0, 1.0],
       ['Hero Passion Pro', 6700, 0.0, 1.0],
       ['omni', 50000, 0.0, 1.0],
       ['ciaz', 18796, 0.0, 1.0],
       ['Hero Passion X pro', 31000, 0.0, 1.0],
       ['ciaz', 15000, 0.0, 1.0],
       ['fortuner', 40000, 1.0, 0.0],
       ['UM Renegade Mojave', 1400, 0.0, 1.0],
       ['Honda CB Shine', 30000, 0.0, 1.0],
       ['Bajaj Pulsar RS200', 5700, 0.0, 1.0],
       ['vitara brezza', 2071, 1.0, 0.0],
       ['grand i10', 3493, 0.0, 1.0],
       ['ciaz', 6900, 0.0, 1.0],
       ['fortuner', 89000, 1.0, 0.0],
       ['fortuner', 59000, 1.0, 0.0],
       ['brio', 9800, 0.0, 1.0],
       ['Royal Enfield Classic 350', 17500, 0.0, 1.0],
       ['grand i10', 24678, 0.0, 1.0],
       ['Hero Honda Passion Pro', 60000, 0.0, 1.0],
       ['Royal Enfield Thunder 500', 14000, 0.0, 1.0],
       ['city', 10980, 0.0, 1.0],
       ['Yamaha FZ  v 2.0', 29000, 0.0, 1.0],
       ['city', 9010, 0.0, 1.0],
       ['Honda Karizma', 213000, 0.0, 1.0],
       ['Bajaj Pulsar  NS 200', 25000, 0.0, 1.0],
       ['corolla altis', 62000, 0.0, 1.0],
       ['city', 49562, 0.0, 1.0],
       ['ciaz', 42367, 1.0, 0.0],
       ['800', 127000, 0.0, 1.0],
       ['city', 87934, 0.0, 1.0],
       ['ciaz', 15000, 0.0, 1.0],
       ['Activa 4g', 1300, 0.0, 1.0],
       ['eon', 23709, 0.0, 1.0],
       ['brio', 60000, 0.0, 1.0],
       ['Hero Super Splendor', 55000, 0.0, 1.0],
       ['ertiga', 25870, 0.0, 1.0],
       ['sx4', 58000, 0.0, 1.0],
       ['i20', 35000, 0.0, 1.0],
       ['corolla altis', 50000, 0.0, 1.0],
       ['TVS Apache RTR 160', 19000, 0.0, 1.0],
       ['Royal Enfield Bullet 350', 6000, 0.0, 1.0],
       ['Hero Passion Pro', 1000, 0.0, 1.0],
       ['KTM RC390', 21700, 0.0, 1.0],
       ['city', 69562, 0.0, 1.0],
       ['Bajaj Pulsar 150', 26000, 0.0, 1.0],
       ['Hero Glamour', 18000, 0.0, 1.0],
       ['jazz', 21200, 0.0, 1.0],
       ['sx4', 43000, 1.0, 0.0],
       ['Bajaj Avenger 220 dtsi', 16600, 0.0, 1.0],
       ['Royal Enfield Thunder 350', 8700, 0.0, 1.0],
       ['city', 24800, 0.0, 1.0],
       ['xcent', 35866, 0.0, 1.0],
       ['Royal Enfield Thunder 350', 15000, 0.0, 1.0],
       ['ciaz', 20273, 1.0, 0.0],
       ['verna', 60000, 1.0, 0.0],
       ['city', 50456, 0.0, 1.0],
       ['Bajaj Pulsar 150', 60000, 0.0, 1.0],
       ['ignis', 2400, 0.0, 1.0],
       ['jazz', 4000, 0.0, 1.0],
       ['grand i10', 20114, 0.0, 1.0],
       ['eon', 15000, 0.0, 1.0],
       ['Royal Enfield Thunder 500', 5400, 0.0, 1.0],
       ['city', 48000, 1.0, 0.0],
       ['city', 38000, 0.0, 1.0],
       ['Bajaj Discover 125', 25000, 0.0, 1.0],
       ['corolla altis', 80000, 0.0, 1.0],
       ['amaze', 36054, 0.0, 1.0],
       ['ritz', 64532, 0.0, 1.0],
       ['Royal Enfield Thunder 350', 18000, 0.0, 1.0],
       ['brio', 5600, 0.0, 1.0],
       ['amaze', 40026, 0.0, 1.0],
       ['eon', 11849, 0.0, 1.0],
       ['innova', 15000, 1.0, 0.0],
       ['Honda CB twister', 33000, 0.0, 1.0],
       ['Bajaj Pulsar 150', 5000, 0.0, 1.0],
       ['brio', 19000, 0.0, 1.0],
       ['KTM RC200', 6000, 0.0, 1.0],
       ['jazz', 12000, 0.0, 1.0],
       ['i20', 58000, 1.0, 0.0],
       ['dzire', 48767, 0.0, 1.0],
       ['innova', 75000, 0.0, 1.0],
       ['TVS Wego', 22000, 0.0, 1.0],
       ['brio', 16500, 0.0, 1.0],
       ['fortuner', 78000, 1.0, 0.0],
       ['ritz', 27000, 0.0, 1.0],
       ['swift', 16200, 0.0, 1.0],
       ['Royal Enfield Thunder 500', 3000, 0.0, 1.0],
       ['Honda Activa 125', 24000, 0.0, 1.0],
       ['Honda CB twister', 32000, 0.0, 1.0],
       ['verna', 61381, 1.0, 0.0],
       ['Bajaj Pulsar 220 F', 45000, 0.0, 1.0],
       ['fortuner', 47000, 1.0, 0.0],
       ['sx4', 62000, 0.0, 1.0],
       ['city', 40324, 0.0, 1.0],
       ['Honda Dream Yuga ', 8600, 0.0, 1.0],
       ['Yamaha FZ  v 2.0', 25000, 0.0, 1.0],
       ['ertiga', 43000, 1.0, 0.0],
       ['fortuner', 41000, 1.0, 0.0],
       ['Activa 3g', 500, 0.0, 1.0],
       ['eon', 38488, 0.0, 1.0],
       ['city', 56701, 0.0, 1.0],
       ['grand i10', 4492, 0.0, 1.0],
       ['i20', 3435, 0.0, 1.0],
       ['i20', 77632, 1.0, 0.0],
       ['Bajaj Pulsar 220 F', 24000, 0.0, 1.0],
       ['Royal Enfield Classic 350', 46500, 0.0, 1.0],
       ['corolla altis', 70000, 0.0, 1.0],
       ['ertiga', 41678, 1.0, 0.0],
       ['i10', 22517, 0.0, 1.0],
       ['Bajaj Pulsar 150', 92233, 0.0, 1.0],
       ['grand i10', 28200, 0.0, 1.0],
       ['city', 69341, 0.0, 1.0],
       ['city', 54242, 0.0, 1.0],
       ['TVS Apache RTR 180', 6000, 0.0, 1.0],
       ['corolla altis', 56000, 0.0, 1.0],
       ['amaze', 35000, 0.0, 1.0],
       ['creta', 22671, 0.0, 1.0],
       ['Hero Extreme', 15000, 0.0, 1.0],
       ['corolla altis', 8700, 0.0, 1.0],
       ['i20', 7000, 0.0, 1.0],
       ['Royal Enfield Classic 500', 40000, 0.0, 1.0],
       ['verna', 32322, 1.0, 0.0],
       ['etios cross', 40588, 0.0, 1.0],
       ['etios gd', 40000, 1.0, 0.0],
       ['brio', 5464, 0.0, 1.0],
       ['corolla altis', 88000, 0.0, 1.0],
       ['Yamaha FZ S V 2.0', 5000, 0.0, 1.0],
       ['i10', 35775, 0.0, 1.0],
       ['etios cross', 40534, 0.0, 1.0],
       ['sx4', 41442, 0.0, 1.0],
       ['Bajaj Discover 125', 35000, 0.0, 1.0],
       ['land cruiser', 78000, 1.0, 0.0],
       ['etios liva', 71000, 1.0, 0.0],
       ['i20', 52132, 1.0, 0.0],
       ['Hero Extreme', 16000, 0.0, 1.0],
       ['corolla altis', 40001, 0.0, 1.0],
       ['dzire', 45000, 1.0, 0.0],
       ['baleno', 24524, 0.0, 1.0],
       ['Honda CB Hornet 160R', 15000, 0.0, 1.0],
       ['corolla altis', 72000, 0.0, 1.0],
       ['city', 60076, 1.0, 0.0],
       ['xcent', 34000, 0.0, 1.0],
       ['swift', 55138, 0.0, 1.0],
       ['swift', 39000, 1.0, 0.0],
       ['dzire', 45780, 1.0, 0.0],
       ['innova', 29000, 1.0, 0.0],
       ['innova', 38000, 1.0, 0.0],
       ['brio', 31427, 0.0, 1.0],
       ['Suzuki Access 125', 1900, 0.0, 1.0],
       ['etios liva', 43000, 0.0, 1.0],
       ['i10', 30000, 0.0, 1.0],
       ['verna', 36000, 0.0, 1.0],
       ['grand i10', 53000, 1.0, 0.0],
       ['Honda CBR 150', 23500, 0.0, 1.0],
       ['ciaz', 37000, 0.0, 1.0],
       ['grand i10', 34797, 0.0, 1.0],
       ['city', 34000, 0.0, 1.0],
       ['Bajaj Avenger 220', 3500, 0.0, 1.0],
       ['fortuner', 104707, 1.0, 0.0],
       ['verna', 60241, 0.0, 1.0],
       ['innova', 15000, 1.0, 0.0],
       ['corolla altis', 23000, 1.0, 0.0],
       ['ritz', 54200, 0.0, 1.0],
       ['Royal Enfield Thunder 350', 6900, 0.0, 1.0],
       ['elantra', 43535, 1.0, 0.0],
       ['Activa 3g', 500000, 0.0, 1.0],
       ['etios liva', 47000, 0.0, 1.0],
       ['brio', 53675, 0.0, 1.0],
       ['etios g', 39485, 0.0, 1.0],
       ['ertiga', 45000, 1.0, 0.0],
       ['alto k10', 10079, 0.0, 1.0],
       ['fortuner', 40000, 1.0, 0.0],
       ['city', 29223, 0.0, 1.0],
       ['KTM RC200', 4000, 0.0, 1.0],
       ['Bajaj  ct 100', 35000, 0.0, 1.0],
       ['TVS Apache RTR 160', 42000, 0.0, 1.0],
       ['Royal Enfield Classic 350', 33000, 0.0, 1.0],
       ['Royal Enfield Classic 500', 11500, 0.0, 1.0],
       ['verna', 45078, 0.0, 1.0],
       ['amaze', 44000, 0.0, 1.0],
       ['wagon r', 65000, 0.0, 1.0],
       ['i20', 31604, 0.0, 1.0],
       ['city', 33988, 1.0, 0.0],
       ['corolla altis', 72000, 0.0, 1.0],
       ['Bajaj Pulsar NS 200', 14500, 0.0, 1.0],
       ['jazz', 16002, 0.0, 1.0],
       ['etios g', 36000, 0.0, 1.0],
       ['sx4', 50000, 0.0, 1.0],
       ['corolla altis', 56001, 0.0, 1.0],
       ['ertiga', 43000, 1.0, 0.0],
       ['Honda CB Trigger', 12000, 0.0, 1.0]], dtype=object)